checkpoints/
outputs/
inference_outputs/
slurm_output/
scripts/

train_test.sh

__pycache__/
config/__pycache__/
data/__pycache__/
inference/__pycache__/
models/__pycache__/
utils/__pycache__/

slowfast/__pycache__/
slowfast/config/__pycache__/
slowfast/datasets/__pycache__/
slowfast/models/__pycache__/
slowfast/utils/__pycache__/

timesformer/__pycache__/
timesformer/config/__pycache__/
timesformer/datasets/__pycache__/
timesformer/models/__pycache__/
timesformer/utils/__pycache__/

test_results/
test_run/