checkpoints/
outputs/
inference_outputs/
slurm_output/
test_output/
test_results/
test_run/
test_eccv/
test_eccv2/
test_eccv3/
test_rebuttal/

scripts/
train_test.sh
test_performance.sh
class_binary.sh
reid_80_40.sh

__pycache__/
config/__pycache__/
data/__pycache__/
inference/__pycache__/
models/__pycache__/
utils/__pycache__/

slowfast/__pycache__/
slowfast/config/__pycache__/
slowfast/datasets/__pycache__/
slowfast/models/__pycache__/
slowfast/utils/__pycache__/
slowfast/visualization/__pycache__/

timesformer/__pycache__/
timesformer/config/__pycache__/
timesformer/datasets/__pycache__/
timesformer/models/__pycache__/
timesformer/utils/__pycache__/
